<div>
  <h1>Post: </h1>
  
  <div *ngIf="post$ | async as p">
    <div>
      <h2>Title: {{ p.text }}</h2>
      <h3>Votes: {{ p.likes }}</h3>
    </div>

    <ul>
      <li>
        <button (click)="vote('Upvote')">Upvote</button>
      </li>
      <li>
        <button (click)="vote('Downvote')">Downvote</button>
      </li>
      <li>
        <button (click)="vote('Reset')">Reset</button>
      </li>
    </ul>
  </div>

  <input type="text" [(ngModel)]="text">
  <button (click)="editText()">Change Title</button>
</div>